body {
  margin: 0 auto;
  text-align: middle;
  background-attachment: fixed;
  background: linear-gradient(rgb(149, 185, 240), #f1d4f1);
  background-size: contain;
  background-position-x: 10em;
  animation: background-image linear 800s infinite forwards;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#container {
  padding: 2em 15px;
}

div {
  display: block;
}

nav {
  position: fixed;
  width: 100%;
  background-color: #314c80e7;
  display: flex;
  z-index: 35;
  box-shadow: 0px 2px 11px black;
}

.fullscreen-header {
  text-align: center;
  height: 100vh;
  width: 100%;
  background-color: cornflowerblue;
  background-image: url('https://cdn.discordapp.com/attachments/502190794128752642/502234674442010654/bqnzecjp4rz01.jpg');
  background-size: cover;
}

.text-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text-vertical-center > * {
  width: 100%;
}


.subtitle {
  font-family: 'K2D', sans-serif;
}

.link {
  text-decoration: none;
  float: left;
  flex-grow: 1;
  text-align: center;
  color: white;
  padding: 1em 0;
}

.link:hover {
  background-color: #00000025;
  color: cornflowerblue;
  cursor: pointer;
}

/*////////////////////////////////////////////////////////////////////*/
/* 
#container .card {
  color: white !important;
  margin: 2em 0 0;
} */


#container .card {
  color: white !important;
  /* margin: 2em 0 0; */
  height: 100%;
}

#container>.card {
  margin: 2em 0 0;
}

.columns {
  margin: 1em -.75em !important;
}


.card-header-title {
  color: white;
}

.project>.card:hover {
  cursor: pointer;
  background-color: #3c413dbe;
}

.profile_header {
  background-color: #681985e7;
  padding: 1px;
  margin-top: 3em;
}

.aboutMe {
  background-color: #3c413dee;
}

.aboutMeContent {
  display: flex;
}

#selfie {
  width: 100%;
  height: 100%;
}

#aboutMeText {
  flex-grow: 1;
  margin: 0 1em;
}


@media screen and (max-width: 700px) {
  #selfie {
    width: 100%;
  }

  .aboutMeContent {
    display: block;
  }

  #aboutMeText {
    margin: 0;
  }
}

.mijnTalenten {
  background-color: #4e524fee;
}

.watLeren {
  background-color: #4e524fee;
  color: #000000;
}

.mijnDoel {
  background-color: #4e524fee;
  color: #000000;
}

/*/////////////////////////////////////////////////////////////////////*/

.projecs_header {
  background-color: #681985e7;
  padding: 2px;
}

.modal {
  color: black;
}

/* /  / / / /  HIER JE PROJECTEN PLEUREN, DUMASS  /  / / /  */
.isaac {
  /* background-color: #3c413dee; */
  padding: 2px;
}

#isaac_gif {
  width: 100%;
}

.project>.card {
  background-color: #3c413dee;
}

.dungeon {
  /* background-color: #3c413dee; */
  padding: 2px;
}

#dungeonGenerator {
  width: 100%;
}

.mythe_gif {
  background-color: #3c413dee;
  padding: 2px;
}

#mythe_gif {
  width: 100%;
}

.mine_gif {
  background-color: #3c413dee;
  padding: 2px;
}

#mine_gif {
  width: 100%;
}

.inventory_gif {
  background-color: #3c413dee;
  padding: 2px;
}

#inventory_gif {
  width: 100%;
}

/*////////////////////////////////////////////////////////////////////*/

.contact_header {
  background-color: #681985e7;
  padding: 2px;
}

.contactList {
  background-color: #3c413dee;
  padding: 2px;
}

/* Modal / popup */

.modal-card {
  max-height: calc(100vh - 200px);
}

/* .modal-card > * {
  background-color: rgb(149, 185, 240);
} */


.modal-card>.modal-card-head {
  background-color: rgb(142, 153, 247);
}

.modal-card>.modal-card-body {
  background-color: rgb(149, 185, 240);
}

.modal-card>.modal-card-foot {
  background-color: rgb(142, 153, 247);
}

.enable-scroll {
  overflow-y: hidden;
}